<form clrForm>
    <clr-select-container>
        <label>Store</label>
        <select clrSelect name="store" required (change)="onChanges($event)">
          <option></option>
          <option *ngFor="let store of stores" value="{{ targetStore }}">{{ store.name }}</option>
        </select>
        <clr-control-helper>Select Store</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
    <clr-select-container>
        <label>Register</label>
        <select clrSelect name="register" required (change)="onChanges($event)">
          <option></option>
          <option *ngFor="let register of registers" value="{{ register }}">{{ register.registerId }}</option>
          </select>
        <clr-control-helper>Select Register</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
    <clr-select-container>
        <label>Cashier</label>
        <select clrSelect name="cashier" required>
          <option></option>
          <option *ngFor="let cashier of cashiers" value="{{ cashier }}">{{ cashier.name }}</option>
          </select>
        <clr-control-helper>Select Cashier</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-select-container>
      <clr-input-container>
        <label>Date</label>
        <input clrInput type="date" placeholder="mm/dd/yyyy" name="date" value="{{ date }}" />
      </clr-input-container>
      <clr-input-container>
        <label>Time</label>
        <input clrInput type="time" placeholder="hh:mm" name="time" value="{{ time }}" (change)="onChanges($event)" />
      </clr-input-container>
      <clr-input-container>
        <label>Serial 1</label>
        <input clrInput type="number" placeholder="000" name="serial1" value="{{ serial1 }}" />
      </clr-input-container>
      <clr-input-container>
        <label>Serial 2</label>
        <input clrInput type="number" placeholder="000000000" name="serial2" value="{{ serial2 }}" />
      </clr-input-container>
</form>
